.page-index {
  position: relative;
  height: 100%;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  border-width: 4px;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent transparent transparent #aaaaaa;
  pointer-events: none;
  animation: spin 1s ease infinite;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-title > .title {
  color: #111111;
  font-size: 35px;
  font-weight: bold;
}

.section-title > .desc {
  margin-top: 10px;
}

.section-desc {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.page-section {
  padding: 100px 30px;
}

@media only screen and (max-width: 767px) {
  .spinner {
    width: 30px;
    height: 30px;
    border-width: 3px;
  }

  .page-section {
    padding: 70px 15px;
  }

  .section-title > .title {
    font-size: 28px;
  }

  .section-title > .desc {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .spinner {
    width: 25px;
    height: 25px;
    border-width: 2px;
  }
}
