.footer-social-item > a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.5s ease-in-out;
}

.page-index .hero.show ~ .footer-main .footer-social-item > a {
  opacity: 1;
  transform: translateY(0);
}

.footer-social-item:nth-child(2) > a {
  transition-delay: 0.15s;
}

.footer-social-item:nth-child(3) > a {
  transition-delay: 0.3s;
}

.footer-social-item > a > svg {
  width: 30px;
  height: 30px;
  color: #cccccc;
  transition: color 0.1s linear;
}

.footer-social-item > a:hover > svg {
  color: #999999;
}

@media only screen and (max-width: 991px) {
  .footer-social-item {
    position: relative;
    right: auto;
    bottom: auto;
    margin-bottom: 15px;
  }

  .footer-social-item > a {
    transition: none;
    opacity: 1;
    transform: translateY(0);
  }
}
